body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: linear-gradient(90deg, #2C394B 0%, #082032 100%);
    color:#fefefe;
}
*{
    transition: 0.3s ease-in-out;
}
hr{
    border-radius: 20px;
    height: 2px;
    background-color: #fefefe;
    border: none;
    width: 60%;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 40px;
}
::-webkit-scrollbar-track {
    display: none;
}
::-webkit-scrollbar-track-piece{
    background: #082032;
}
.grey-input{
    border-radius: 20px;
    padding: 10px 20px;
    outline: none;
    border: none;
    font-size: 25px;
    background-color: grey;
    box-shadow: 0 10px 40px #ffffffeb, 0 0 0 6px rgb(165, 165, 165);
    color:white;
    transition: 0.5s ease-in-out;
}
.grey-input::placeholder{ 
    color: rgba(218, 199, 199, 0.4);
}

.grey-input:-ms-input-placeholder{ 
    color: rgba(218, 199, 199, 0.4);
}
.grey-input::-ms-input-placeholder{
    color: rgba(218, 199, 199, 0.4);
}
.grey-input:focus{
    box-shadow: 0 5px 20px #ffffffeb, 0 0 0 3px rgb(165, 165, 165);
}
.btn{
    border-radius: 20px;
    font-size: 20px;
    outline: none;
    border: none;
    padding: 10px 20px;
    background-color: #393E46;
    box-shadow: 0 10px 40px #ffffffeb, 0 0 0 6px #AAD8D3;
    color:white;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}
.btn:hover{
    box-shadow:none;
}